# Runtime
**/node_modules/
**/dist/

# Logs
**/logs
**/*.log
**/npm-debug.log*

# OS
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache
.eslintcache
.stylelintcache