# Runtime
dist
node_modules

# Logs
**/logs
**/*.log
**/npm-debug.log*
playwright-report
test-results

# OS
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache
.eslintcache
docs/.vitepress/dist
docs/.vitepress/cache
