:root {
  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);
}

.VPHomeHero.VPHomeHero {
  position: relative;
  margin-bottom: -3.5rem;
  padding-bottom: 9rem;
}
.VPHomeHero::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  filter: contrast(110%) saturate(50%) brightness(110%);
  mix-blend-mode: multiply;
  background:
        url("data:image/svg+xml,%3Csvg width='220' height='220' viewBox='0 0 220 220' opacity='.5' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.81' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
        linear-gradient(150deg, #ecedee, transparent 30%),
        linear-gradient(330deg, #a7b6ff, transparent 30%),
        linear-gradient(225deg, #e5e7f2, #bbd7fe, #e1f0fa, #a7c9ff);

}

/* :root {
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #5672cd 50%, #92beff 50%);
  --vp-home-hero-image-filter: blur(40px);
}
@media (min-width: 640px) { :root { --vp-home-hero-image-filter: blur(56px) } }
@media (min-width: 960px) { :root { --vp-home-hero-image-filter: blur(72px) } } */

.icon { font-family: Apple Color Emoji,Segoe UI Emoji,Noto Color Emoji,Android Emoji,EmojiSymbols,EmojiOne Mozilla,Twemoji Mozilla,Segoe UI Symbol,Noto Color Emoji Compat,emoji,sans-serif }

.demo {
  padding: 20px; 
  border: 1px solid;
  border-radius: 8px;
}